rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /tripBanners/{tripId}/{filename} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
        firestore.get(/databases/(default)/documents/trips/$(tripId)).data.userId == request.auth.uid
        ||
        (
          request.auth.uid in firestore.get(/databases/(default)/documents/trips/$(tripId)).data.shared &&
          firestore.get(/databases/(default)/documents/trips/$(tripId)).data.permissions[request.auth.uid] == 'manager'
        )
      );
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
